<h1>Edit</h1>

<% if signed_in?%>

  <%= form_for(@question) do |f| %>
  Category: <%= f.collection_select(:category, Category.all, :name, :name) %>
  <br>
  <a href="/categories/new">Add a new category</a>
  <br>
  Type: <%= f.select(:question_type, [['Regular', 'Regular'], ['Halftime', 'Halftime'], ['Bonus', 'Bonus'],]) %>
  <br>
  Difficulty (1 is easiest): <%= f.select(:difficulty, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5],]) %>
  <br>
  Question: <%= f.text_area( :question, size: "80x5") %><br />
  Answer: <%= f.text_area( :answer, size: "80x5") %><br />

  Notes: <%= f.text_area( :notes, size: "80x5") %><br />



    <%= f.submit "save", class: 'btn btn-large btn-primary' %>
  <% end %>
<br>
<% else %>
	redirect_to programs_path
<% end %>