<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
  $( ".ui-widget" ).hide();
  var real_data = null;
  $.getJSON( "api/questions", function( data ) {
  $( ".ui-widget" ).show();
  $( "#loading_search_message" ).hide();

  console.log(data);
  real_data = data;
    $( "#tags" ).autocomplete({
      source: data
    })
  });
  $( "#submit_button" ).click(function() {
    var search = $("#tags").val();
    
    var search_id = getByValue3(real_data, search);
    
    var url = '/questions/' + search_id;
   window.location.replace(url);

    
    function getByValue3(arr, value) {
      for (var i = 0; i < arr.length; i++) {
	if (arr[i].value == search) {
	  console.log(arr[i].id);
	  return arr[i].id;
	}
      }
    }
  });
});

</script>
<script type="text/javascript">
$(function() {



  // Set up variables. Get url values, and define booleans stating that the urls are not set
  var category = getUrlValue("category");
  var difficulty = getUrlValue("difficulty");
  var difficulty_set = false;
  var category_set = false;
  
  
  // check to see if the variables are set. If so, set booleans to true
  if (typeof category !== 'undefined' && category != null && category != "undefined") {
    $( "#select_category" ).val(category);
    category_set = true;
  }
  
  if (typeof difficulty !== 'undefined' && category != null && difficulty != "undefined") {
    $( "#difficulty_level" ).val(difficulty);
    difficulty_set = true;
  }
  

  // on select changes, set a url string and redirect to the correct url to get the correct query
  $( "#select_category" ).change(function() {
    var url = "/questions";
    var new_category = $("#select_category").val()
    var category_string = "?category=" + new_category;
    var difficulty_string = '&difficulty=All';
    
    var final_url = url+category_string;
    if (difficulty_set == true) {
      difficulty_string = "&difficulty=" + difficulty;
    }
    final_url = final_url + difficulty_string;

    window.location.replace(final_url);
  });
  
  $( "#difficulty_level" ).change(function() {
    var url = "/questions";
    var new_difficulty = $("#difficulty_level").val();
    var category_string = "?category=";
    var difficulty_string = '&difficulty=' + new_difficulty;
    
    if (category_set == true) {
      category_string = "?category=" + category;
    }
    final_url = url + category_string + difficulty_string;

    window.location.replace(final_url);  });
  
  
  // helper function to get url parameter values
  function getUrlValue(VarSearch){
      var SearchString = window.location.search.substring(1);
      var VariableArray = SearchString.split('&');
      for(var i = 0; i < VariableArray.length; i++){
	  var KeyValuePair = VariableArray[i].split('=');
	  if(KeyValuePair[0] == VarSearch){
	      return KeyValuePair[1];
	  }
      }
  }
});

</script>

      <div class="row">
	    
	  <div class="col-lg-12 text-center">
	    <p id="loading_search_message">Loading search...</p>
	    
	    <div class="ui-widget">
	      <label for="tags">Search: </label>
	      <input class="search_input" id="tags" style="width:80%;">
	      <input type="submit" value="Submit" id="submit_button">

	    </div>
	  </div>
	  
      </div>
<h2>All Questions</h2>
<br>
      <div class="row">

      	  <div class="col-lg-6 text-center">
	    Sort by category: 
	      <%= select "select", "category", @categories.map { |h| [h.name, h.name] }, {prompt: "All"} %>
	  </div>
	    
	  <div class="col-lg-6 text-center">
	    Sort by difficulty: 
	    <select id="difficulty_level">
	      <option value="All">All</option>
	      <option value="1">1</option>
	      <option value="2">2</option>
	      <option value="3">3</option>
	      <option value="4">4</option>
	      <option value="4">5</option>
	    </select>
	  </div>
	  
      </div>
	  <div class="col-lg-12 text-center">
	    <p class="sort_by_message"></p>
	  </div>
		      
<% @questions.each do |question| -%>
  <hr>

      <div class="row">
	  <div class="col-lg-12 text-center">
	    <p><a href="/questions/<%= question.id %>">Click here to view, edit or delete</a></p>
	  </div>

      	  <div class="col-lg-4 text-center">
      	    <p><button type="button" class="btn btn-default btn-lg">type: <%= question.question_type%></button></p>
	  </div>
	  
	  <div class="col-lg-4 text-center">
	    <p><button type="button" class="btn btn-default btn-lg">category: <%= question.category%></button></p>
	  </div>
	  
	  <div class="col-lg-4 text-center">
	    <p><button type="button" class="btn btn-default btn-lg">difficulty: <%= question.difficulty %></button></p>
	  </div>
	  
      </div>
      
      
      <div class="row">
      	  <div class="col-lg-1 text-left">
	  </div>
	  <div class="col-lg-10 text-left">
	    <p>Q: <%= question.question%><p>
	    <p>A: <%= question.answer%></p>
	    <% if question.suggested_song %>
	      <p>Song: <%= question.suggested_song %></p>
	    <% end %>
	    <% if question.notes %>
	`    <p>Notes: <%= question.notes%></p>
	    <% end %>
	  </div>
	  <div class="col-lg-1 text-left">
	  </div>
      </div>

<!--   </div> -->
<% end -%>
<%= will_paginate @questions %>
