<h2>Show Question</h2>
  ___________
      <div class="row">
      	  <div class="col-lg-4 text-center">
      	    <p><button type="button" class="btn btn-default btn-lg">type: <%= @question.question_type%></button></p>
	  </div>
	  
	  <div class="col-lg-4 text-center">
	    <p><button type="button" class="btn btn-default btn-lg">category: <%= @question.category%></button></p>
	  </div>
	  
	  <div class="col-lg-4 text-center">
	    <p><button type="button" class="btn btn-default btn-lg">difficulty: <%= @question.difficulty %></button></p>
	  </div>
	  
      </div>
      
      
      <div class="row">
      	  <div class="col-lg-1 text-left">
	  </div>
	  <div class="col-lg-10 text-left">
	    <p>Q: <%= @question.question%><p>
	    <p>A: <%= @question.answer%></p>
	    <% if @question.notes %>
	      <p>Notes: <%= @question.notes%></p>
	    <% end %>
	  </div>
	  <div class="col-lg-1 text-left">
	  </div>
      </div>
<%= link_to "Edit", edit_question_path %> |


<%= link_to "Delete", @question, method: :delete,
      data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
