<h1>Admin</h1>

<div class="row">
    <div class="col-lg-9 text-left">
      <h2>Create User</h2>
      <form name="create_user" action="/create_user" method="post">
	Email: <input type="text" name="email">
	<br>
	Password: <input type="text" name="password">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-lg-3 text-left">
      
      <h2>Admins</h2>
      <% @users.each do |user| -%>
	<% if user.admin %>
	  <p>
	    <%= user.email %> <a href="/admin/delete_user/<%= user.id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a> | <a href="/admin/remove_admin/<%= user.id %>" onclick="return confirm('Are you sure you want to make this user an admin?');">Remove Admin</a>
	  </p>
	<% end %>
      <% end -%>
      <h2>Users</h2>
      <% @users.each do |user| -%>
	<% if not user.admin %>
	  <p>
	  <%= user.email %> <a href="/admin/delete_user/<%= user.id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a> | <a href="/admin/make_admin/<%= user.id %>" onclick="return confirm('Are you sure you want to make this user an admin?');">Make Admin</a>
	  </p>

	<% end %>
      <% end -%>
    </div>
</div>





